<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
    <!-- -->
    <div id="app">
        <span>{{n1 + ('+') + n2 + ('=')}}</span>
       <input type="text" v-model="n3">
       <br>
       <span v-if="n1 + n2 == parseInt(n3)">ACERTOU!!</span>
       <span v-if="n3 != '0' && n1 + n2 != parseInt(n3)">ERROUU!!</span>
       
    </div>


    <script src="script.js"> </script>
</body>

</html>